<h1 class="text-center">{{title}}</h1>
<br />
{{#tenBlogs}}
    <div class='list-group list-group-flush card'>
        <div class="row">
            <div class="col">
                <h2 class='list-group-item card-text'>
                    {{this.heading}}
                </h2>
            </div>
            {{#if ../user}}
            <div class="col">
                <div class="float-right">
                    <a href="/reports/add/{{this._id}}" >
                        <img src="/images/report.svg" alt="report" id="report-sm" />
                    </a>
                </div>
            </div>
            {{/if}}
        </div>
        <p class='list-group-item card-text'>
            {{this.body}}
        </p>
        <div class='list-group-item'>
            <div class='row'>
                <div class='col-md-6'>
                    <a href="/blogs/{{this.username}}/blogs" class="text-center">
                        {{this.username}}
                    </a>
                </div>
                <div class='col-ms-6'>
                    {{this.date}}
                </div>
            </div>
        </div>
    </div>
{{/tenBlogs}}